<!--
 * Group Name: Potatoes
 * Project Name: Moosic
 *
 * Created By: Alexander Bascevan
 *
 * Created On: April 7, 2025
 * Updated On:
 *
 * Purpose: Login up page that allows a user to login to Moosic
 *
 -->

@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required />
        <span class="text-danger">@ViewData.ModelState["email"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required />
        <span class="text-danger">@ViewData.ModelState["password"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>

    @if (ViewData["Error"] != null)
    {
        <p class="text-danger">@ViewData["Error"]</p>
    }
</form>
