<!--
 * Group Name: Potatoes
 * Project Name: Moosic
 *
 * Created By: Alexander Bascevan
 *
 * Created On: April 7, 2025
 * Updated On:
 *
 * Purpose: Login view that allows a user to login to Moosic
 *
 -->

@{
    ViewData["Title"] = "Login";
}


<div class="container text-light mt-5" style="max-width: 500px;">
    <h2 class="text-center mb-4" style="color: #c084fc;"> Login </h2>

    <form method="post" class="p-4 rounded bg-dark shadow-lg">
    <div class="form-group mb-3">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required />
        <span class="text-danger">@ViewData.ModelState["email"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
    </div>
    <div class="form-group mb-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required />
        <span class="text-danger">@ViewData.ModelState["password"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
    </div>
    <br />
    <div class="text-center">
            <button type="submit" class="btn btn-lg btn-primary px-5">Login</button>
        </div>
    

    @if (ViewData["Error"] != null)
    {
        <p class="text-danger">@ViewData["Error"]</p>
    }
</form>
</div>




